<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <h2>New Contact Form Submission</h2>
  <p><strong>First Name:</strong> <%= @form_data[:fName] %></p>
  <p><strong>Last Name:</strong> <%= @form_data[:lName] %></p>
  <p><strong>Email:</strong> <%= @form_data[:email] %></p>
  <p><strong>Phone:</strong> <%= @form_data[:phone] %></p>
  <p><strong>Message:</strong></p>
  <p><%= @form_data[:message] %></p>
</body>
</html>
