<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <h2>New Request Appointment Form Submission</h2>
  <p><strong>First Name:</strong> <%= @form_data[:fName] %></p>
  <p><strong>Last Name:</strong> <%= @form_data[:lName] %></p>
  <p><strong>Email:</strong> <%= @form_data[:email] %></p>
  <p><strong>Phone:</strong> <%= @form_data[:phone] %></p>
  <p><strong>Date of Birth:</strong> <%= @form_data[:dob] %></p>
  <p><strong>New or Returning:</strong> <%= @form_data[:selectedPatientType] %></p>
  <p><strong>Sex:</strong> <%= @form_data[:selectedSex] %></p>
  <p><strong>Location:</strong> <%= @form_data[:selectedLocation] %></p>
  <p><strong>Provider:</strong> <%= @form_data[:selectedProvider] %></p>

  <p><strong>Message:</strong></p>
  <p><%= @form_data[:message] %></p>
</body>
</html>
